<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto02</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>
    <body>
        <h1>Proyecto02</h1>
        <body>
            <h1>Fuente de datos Freddy Gómez</h1>
            <a href="https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=DEMO_KEY">
                https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=DEMO_KEY
            </a><br>
            <div class = "containerStats"></div>
            <div class = "containerSearch"></div>
            <div class="containerTabla">
                <table class="tabla-datos">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Rover name</th>
                            <th>Rover camera</th>
                            <th>Imagen</th>
                            <th>Fecha Tierra</th>
                        </tr>
                    </thead>    
                    
                    <tbody class="datos">
                        
                    </tbody>
    
                </table>
    
            </div>
    
        <script src="scripts.js" > </script> 
    </body>
    <footer>

    </footer>
    <script src="../public/scripts/scripts.js"> </script> 
</html>