<!DOCTYPE html>
<html>
	<head>
		<title>cv fredy</title>
		<link rel='stylesheet' href='..\stylesheets\style.css' />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>



	<body>

	<div class="header-container">
		<div class="header">
			<header>
				<h1><a href="../views/index.html">Freddy Gómez</a></h1>
				<h3>Software Developer</h3>
			</header>
		</div>

		<nav>
			<ul>
				<li><a href="../views/educacion.html">Educacion</a></li>
				<li><a href="../views/experiencia.html">Experiencia</a></li>
				<li><a href="../views/habilidades.html">Habilidades</a></li>
			</ul>
		</nav>

	</div>

	<div class="main-container">

		<div class="foto">
			<div class="circulo"> 
				<img class="fotoFreddy" src="..\images\Foto Freddy.jpeg" alt="foto de fredi">
			</div>
		</div>
		
		<section class="text">
			<p>(Guayaquil, 1935 - 1978) Cantante ecuatoriano. Conocido con los apodos de El Ruiseñor de América y Míster Juramento, 
				Julio Jaramillo es considerado el mejor cantante ecuatoriano de todos los tiempos. Sus canciones, que hablan de amores 
				y desencuentros, calaron profundamente en el público que se reflejaba en ellas. Muchos consideran a este cantante como 
				uno de los símbolos de la identidad nacional. Las melodías que popularizó, entre las que cabe mencionar De cigarro en cigarro,
				Alma mía, Interrogación, Odio en la sangre, Te odio y te quiero, Carnaval de la vida o Cuando llora mi guitarra, todavía se escuchan 
				en las radios de Latinoamérica.</p>
		</section>
	
	</div>
	
	<footer>
		<img class= "icon" src="..\images\phoneIcon.png" alt="icono telf">
		<a>0912345678</a>

		<img class= "icon" src="..\images\mailIcon.png" alt="icono mail">
		<a>fagomez@espol.edu.ec</a>

	</footer>
	</body>
</html>