<!DOCTYPE html>
<html>
	<head>
		<title>cv fredy</title>
		<link rel='stylesheet' href='..\stylesheets\style.css' />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>



	<body>

	<div class="header-container">
		<div class="header">
			<header>
				<h1><a href="../views/index.html">Freddy Gómez</a></h1>
				<h3>Software Developer</h3>
			</header>
		</div>

		<nav>
			<ul>
				<li><a href="../views/educacion.html">Educacion</a></li>
				<li><a href="../views/experiencia.html">Experiencia</a></li>
				<li><a href="../views/habilidades.html">Habilidades</a></li>
				<li><a href="../views/contact.html">Contact me</a></li>
			</ul>
		</nav>

	</div>

	<div class="main-container">

		<div class="foto">
			<div class="circulo"> 
				<img class="fotoFreddy" src="..\images\Foto Freddy.jpeg" alt="foto de fredi">
			</div>
		</div>
		
		<section class="text">
			<p>Mi nombre es Freddy Alexander Gómez Urrego, tengo 20 años y nací en la ciudad de Guayaquil en Ecuador. 
				Algunas consideraciones sobre mi es que soy alguien honesto, que le gusta trabajar, bastante responsable 
				con sus deberes en cualquier ámbito y que le gusta mantener el respeto en cualquier tipo de relación social.
			</p>
			
		</section>
	
	</div>
	
	<footer>
		<div>
			<img class= "icon" src="..\images\phoneIcon.png" alt="icono telf">
		<a>0912345678</a>

		<img class= "icon" src="..\images\mailIcon.png" alt="icono mail">
		<a>fagomez@espol.edu.ec</a>
		</div>
		<div class="buttons">
			<a href="https://www.facebook.com/profile.php?id=100002329708054" class="fa fa-facebook"></a>
			<a href="https://www.instagram.com/freddygomez02/" class="fa fa-instagram"></a>
			<a href="https://www.linkedin.com/in/freddy-g%C3%B3mez-urrego-9a406a209/" class="fa fa-linkedin"></a>
			<a href="https://github.com/Fredgo2002" class="fa fa-github"></a>
		</div >
		
		

	</footer>
	</body>
</html>