<main class="container-fluid">
    <div class="d-flex flex-column flex-shrink-0 p-4 bg-light">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none ">
        <span class="fs-5">Proyecto 3</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Resumen
            </a>
        </li>
        <li>
            <a routerLink="/personajes" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Personajes
            </a>
        </li>
        <li>
            <a routerLink="/frutas" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Frutas
            </a>
        </li>
        <li>
            <a routerLink="/peliculas" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Peliculas
            </a>
        </li>
        
        </ul>
        
    </div>
    <div class="container-sm">

        <div>
            <img src="../../../assets/images/banner.jpg" alt="banner" style="width: 100%; height: 100%;">
        </div>
        <div class="container-titulo">
            <span class="titulo">One PiecePedia</span>
        </div>
        <div class="container-texto">
            One Piece es un cómic y anime japonés de Eiichiro Oda. One Piece narra la historia de un joven llamado 
            Monkey D. Luffy, que inspirado por su amigo pirata Shanks, comienza un viaje para alcanzar su sueño, 
            ser el Rey de los piratas, para lo cual deberá encontrar el tesoro One Piece dejado por el anterior rey de
            los piratas Gol D. Roger. Descubre todos los manga de esta serie tan aclamada por los lectores.
        </div>
        <div class="container-foto">
            <img src="../../../assets/images/imgOnePiece.jpg" alt="Portada One Piece" style="width: 300px; height: auto;">
        </div>
    </div>

</main>